<nav class="navbar">
  <div class="nav-title">FOCUS QUEST</div>

  @if (authService.isAuthenticated()) {
  <div class="nav-actions">
    <button class="dropdown-btn" (click)="toggleMenu()" appClickoutsideDirective (clickOutside)="isDropdownOpen = false">
      <svg
        class="chevron"
        [class.rotated]="isDropdownOpen"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </button>
  </div>

  @if (isDropdownOpen) {
    <div class="dropdown-menu">
      <button class="logout-btn" (click)="toSettings()">
        <mat-icon>settings</mat-icon>
        Settings
      </button>

      <button class="logout-btn" (click)="logout()">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
          <polyline points="16 17 21 12 16 7"></polyline>
          <line x1="21" y1="12" x2="9" y2="12"></line>
        </svg>
        Logout
      </button>
    </div>
  }
}
</nav>
