<app-background-component></app-background-component>
<app-navbar-component></app-navbar-component>

<div class="login-container">
  <h2>Welcome back!</h2>
  <form [formGroup]="loginForm" class="login-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" (focus)="clearError()" placeholder="Enter your email" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" (focus)="clearError()" placeholder="Enter your password" />
    </div>
    @if (this.errorMessage) {
      <span class="error-message">{{ this.errorMessage }}</span>
    }
    <button class="submit" type="submit" (click)="onSubmit()">Login</button>
    <p class="register-link">Don't have an account? <a (click)="toRegister()">Register here</a></p>
  </form>
</div>
