<app-background-component></app-background-component>
<app-navbar-component></app-navbar-component>

<div class="back-button-container">
<button class="back-button" (click)="returnToHome()">
  <mat-icon>arrow_back</mat-icon>
</button>
</div>

<div class="settings-container">
  <h1>Settings</h1>
  <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <div class="input-group">
      <label>Focus Time (minutes): </label>
      <input type="number" formControlName="focusTime" />
    </div>

    <div class="input-group">
      <label>Short Break Time (minutes): </label>
      <input type="number" formControlName="shortBreakTime" />
    </div>

    <div class="input-group">
      <label>Long Break Time (minutes): </label>
      <input type="number" formControlName="longBreakTime" />
    </div>
    <button class="submit-button" type="submit" [disabled]="settingsForm.invalid">Save Settings</button>
  </form>
</div>
