<app-navbar-component></app-navbar-component>

<div class="container">
  <button (click)="returnToHome()">
    <mat-icon class="icon">arrow_back</mat-icon>
  </button>
  <h1>Beállítások</h1>
  <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <div class="input-group">
      <label>Fókusz idő (perc): </label>
      <input type="number" formControlName="focusTime" />
    </div>

    <div class="input-group">
      <label>Rövid pihenő (perc): </label>
      <input type="number" formControlName="shortBreakTime" />
    </div>

    <div class="input-group">
      <label>Hosszú pihenő (perc): </label>
      <input type="number" formControlName="longBreakTime" />
    </div>
    <button type="submit" [disabled]="settingsForm.invalid">Beállítások Mentése</button>
  </form>
</div>
